<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet"
/><link rel="stylesheet" href="https://use.typekit.net/ghw8epw.css" />
<link rel="icon" type="image/png" href="/assets/images/favicon.png" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1044945541"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "AW-1044945541");
</script>
<!-- Event snippet for Website traffic conversion page -->
<script>
  gtag("event", "conversion", { send_to: "AW-1044945541/5ez-CNiRtqYYEIW1ovID" });
</script>

<!-- end custom head snippets -->
