<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[page.lang].follow_label %}
    <li><strong>{{ site.data.ui-text[page.lang].follow_label }}</strong></li>
    {% endif %} {% if site.footer.links %} {% for link in site.footer.links %} {% if link.label and link.url %}
    <li>
      <a href="{{ link.url }}" rel="nofollow noopener noreferrer"
        ><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a
      >
    </li>
    {% endif %} {% endfor %} {% endif %} {% unless site.atom_feed.hide %}
    <li>
      <a
        href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"
        ><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[page.lang].feed_label |
        default: "Feed" }}</a
      >
    </li>
    {% endunless %}
  </ul>
</div>

<div class="wrapper hero-landing__container hero-footer">
  <div class="hero-landing__column">
    <h2>{% if page.lang == es-ES %}¿Quieres saber más?{% else %}You want to know more?{% endif %}</h2>
    <p>{% if page.lang == es-ES %}Compra ya We No Speak Americano, la completa guía que necesitas para cumplir tu sueño de emigrar a Estados Unidos. Más de 250 páginas con toda la información y trucos para que tu experiencia en USA sea un éxito.
      {% else %}
      Purchase We No Speak Americano, the complete guide you need to fulfill your dream of emigrating to the United States. More than 250 pages with all the information and tricks so that your experience in the USA is a success.
      {% endif %}</p>
      <h3>
      {% if page.lang == es-ES %}“Muy recomendable para estudiar, trabajar o vivir en Estados Unidos”{% else %}“Highly recommended to study, work or live in the United States”{% endif %}
    </h3>
    <div class="center">
      <a href="https://www.amazon.com/We-No-Speak-Americano-Estudiar/dp/154535667X"
        ><img
          src="/assets/images/buy-button-amazon-x50.png"
          alt="Buy We No Speak Americano in Amazon"
          class="logo-amazon"
      /></a>
    </div>
  </div>
  <div class="hero-landing__column center">
    <a href="https://www.amazon.com/We-No-Speak-Americano-Estudiar/dp/154535667X"></a>
      <img
        class="featured-img"
        src="/assets/images/libro800.png"
        alt="Buy We No Speak Americano book in Amazon"
    /></a>
  </div>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
</div>

