---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$ofblue: rgb(60, 60, 110);
$ofred: rgb(178, 34, 52);

$link-color: $ofred;

$sansserif: Arial, Helvetica, sans-serif !important;
$sans-serif: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$cooper: "cooper-black-std", serif !default;

// modified
body {
  overflow-x: hidden;
}

.author-card {
  background-color: #e6e6e6;
  width: 100vw;
  left: calc(-50vw + 50%);
  position: relative;
  padding: 0;
}

.author-card h3 {
  max-width: 1280px;
  margin: auto;
  padding: 2em 1em;
}

.author-row {
  display: flex;
  justify-content: center;
  // align-items: flex-end;
  column-gap: 1em;
  padding: 0 1em 1em;
  max-width: 1280px;
  margin: 0 auto;
}

.author_photo {
  flex-grow: 1;
}

.author_photo_all img {
  transform: rotate(3deg);
  margin: 10px 0;
}

.author_photo p {
  margin: 0 !important;
}

.author_text {
  flex-grow: 2;
  max-width: 50%;
  align-self: flex-start;
}

@media all and (max-width: 1280px) {
  .author-row {
    flex-wrap: wrap;
  }
  .author_photo {
    flex-grow: 1;
    order: 2;
    width: 40%;
  }

  .author_text {
    flex-grow: 2;
    order: 1;
    width: 100%;
    max-width: 100%;
  }
}

.a-review {
  font-family: $sansserif;
}

.a-review h2 {
  font-family: $sansserif;
  border: none !important;
  padding-bottom: 0 !important;
}

.a-size-base {
  font-size: 14px !important;
}

.a-row {
  width: 100%;
}

.a-spacing-mini {
  margin-bottom: 8px !important;
}

.noborder {
  border: none !important;
}

.a-profile-avatar {
  width: 34px;
  height: 34px;
  margin-right: 9px;
  display: inline-block;
}

.a-stars {
  width: 80px;
  height: 18px;
  margin-right: 9px;
  display: inline-block;
  background-image: url("../../assets/images/amazon-assets.png");
  -webkit-background-size: 512px 512px;
  background-size: 512px 512px;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: text-top;
}

.a-stars.a-star-5 {
  background-position: -2px -2px;
}

.a-stars.a-star-4-5 {
  background-position: -390px -462px;
}

.a-icon-star-medium {
  height: 22px;
  width: 95px;
  margin-right: 1px;
  top: -2px;
}

.a-review-title {
  font-weight: 800;
  line-height: 20px !important;
  color: black !important;
  text-decoration: none;
}

.a-review-general {
  color: black !important;
  text-decoration: none;
}

.a-color-secondary {
  color: #565959 !important;
}

.a-verified {
  font-size: 12px;
  line-height: 16px;
  color: #c45500;
  font-weight: 700 !important;
}

.author__avatar img {
  max-width: 100% !important;
  border: none !important;
  border-radius: 0 !important;
}

.author__avatar {
  min-width: 100px !important;
}

.greedy-nav a {
  margin: 0 0.5rem !important;
}

.author__bio.p-note img {
  margin-top: 1rem;
}

.paralax {
  width: 100vw;
  left: calc(-50vw + 50%);
  position: relative;
  background-color: black;
  color: white;
  margin: 0 !important;
  border: 0 !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center left;
}

.paralax .archive__item {
  width: 100%;
  padding: 1rem 2rem;
}

.paralax .archive__item-title {
  font-family: $cooper;
}

.page__footer {
  margin-top: 0 !important;
}

.page__hero--overlay {
  padding: 2em 0;
}

.hero_landing {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.hero-landing__container {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  padding: 0 5vw;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.hero-landing__column {
  flex-grow: 1;
  text-align: left;
  max-width: 500px;
  min-width: 100px;
}

.hero-landing__column > h2 {
  font-size: 1.75em;
}

.logo-amazon {
  max-width: 250px;
}

.center {
  text-align: center !important;
}

.featured-img {
  padding-top: 2em;
  max-height: 50vh;
}

.hero-landing__features {
  background-color: $ofblue;
  color: white;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 1em;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.hero-landing__feature {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.hero-landing__feature_icon {
  height: 100%;
  margin: 0 1rem;
  font-size: 35px;
}

.hero-landing__feature_text * {
  margin: 0 !important;
  font-family: $sans-serif;
}

.fixed-notice {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: $ofred;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.blog-notice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: rgb(218, 218, 218);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
}

.fixed-notice_top {
  position: absolute;
  top: 0;
}

.fixed-notice_top .fixed-notice__column * {
  margin: 0;
  font-family: $sans-serif;
}

.fixed-notice_top .fixed-notice__column p {
  font-size: 16px !important;
}

.fixed-notice__column {
  padding: 1em;
  max-width: 650px;
  min-width: 200px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  color: white;
  background-color: $ofblue;
  background-clip: padding-box;
  border: 1px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
    .invalid-feedback
  ) {
  margin-left: calc(var(--bs-border-width) * -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .btn {
  position: relative;
  z-index: 2;
  margin-bottom: 0 !important;
  color: $ofblue;
}

.input-group .btn:hover {
  background-color: $ofblue;
  color: white;
}

.input-group input {
  margin-bottom: 0 !important;
}

form {
  background-color: transparent !important;
  padding: 0 !important;
}

.gdpr-mergeRow {
  color: white !important;
  font-size: small;
  padding-top: 10px;
  font-family: $sansserif;
}

.hero-footer {
  padding: 0 0 1em !important;
  justify-content: space-between !important;
}

.hero-footer .hero-landing__column {
  max-width: 700px;
}

.hero-footer h2 {
  font-size: 1em;
}

.hero-footer img {
  max-height: 300px;
  padding-top: 0 !important;
  margin-top: 1em !important;
}

.color-white {
  color: black !important;
}

.archive_wide {
  margin-top: 1em;
  margin-bottom: 2em;
}

.page__content h2 {
  border-bottom: 0 !important;
}

.hero-landing__feature_text > p:first-of-type,
.archive__item-body > h3 {
  font-size: 1.125em;
  font-weight: bold;
}

@media screen and (max-device-width: 1022px) {
  .d-none {
    display: none;
  }
  .page__content p,
  .page__content li,
  .page__content dl {
    font-size: 1.1em !important;
  }

  .paralax {
    background-attachment: scroll;
  }
  .featured-img {
    padding-top: 1.5em;
    max-height: 40vh;
  }

  .feature__wrapper.paralax {
    background-image: none !important;
  }

  .fixed-notice__column {
    padding: 0.25em;
  }

  .fixed-notice__column p {
    margin: 0 !important;
  }

  .gdpr-mergeRow {
    color: white !important;
    font-size: smaller;
    padding-top: 5px;
  }
  .page__hero--overlay {
    padding-top: 2rem !important;
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;

  flex-direction: column;
}

.shareBtn {
  display: block;
  padding: 10px 20px;
  margin-right: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.shareBtn.shareOnTwitter {
  background-color: #1da1f2;
  color: #ffffff;
}

.shareBtn.shareOnLinkedIn {
  background-color: #0077b5;
  color: #ffffff;
}

.shareBtn.shareOnInstagram {
  background-color: #4267b2;
  color: #ffffff;
}

.shareBtn.shareOnWhat {
  background-color: #25d366;
  color: #ffffff;
}

#downBtn {
  width: 100%;
}

.btn--inverse {
  background-color: #fff;
  color: #bfbfbf !important;
  border: 1px solid #bfbfbf;
}

.two-column::first-letter {
  -webkit-initial-letter: 2;
  initial-letter: 2;
}

@media only screen and (min-width: 768px) {
  .two-column {
    column-count: 2;
    column-gap: 5vw;
    text-align: justify;
    margin-bottom: 3vw;
  }

  .shareBtn {
    display: inline-block;
    width: 23%;
  }
  .button-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.text-container {
  flex: 1;
  margin-right: 20px;
  text-align: center;
}

.image-container {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column;
    padding: 0;
    padding-top: 10px;
  }

  .text-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.text-e6 {
  color: #e6e6e6 !important;
}

// -modified

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
