---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %} {% include page__hero.html %} {%
elsif page.header.video.id and page.header.video.provider %} {% include page__hero_video.html %} {% endif %} {% assign
breadcrumbs_enabled = site.breadcrumbs %} {% if page.breadcrumbs != null %} {% assign breadcrumbs_enabled =
page.breadcrumbs %} {% endif %} {% if page.url != "/" and breadcrumbs_enabled %} {% unless paginator %} {% include
breadcrumbs.html %} {% endunless %} {% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta
      itemprop="headline"
      content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}"
    />{% endif %} {% if page.excerpt %}<meta
      itemprop="description"
      content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}"
    />{% endif %} {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />{%
    endif %} {% if page.last_modified_at %}<meta
      itemprop="dateModified"
      content="{{ page.last_modified_at | date_to_xmlschema }}"
    />{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
      <header>
        {% if page.title %}
        <h1 id="page-title" class="page__title p-name" itemprop="headline">
          <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url"
            >{{ page.title | markdownify | remove: "
            <p>" | remove: "</p>
            " }}</a
          >
        </h1>
        {% endif %} {% include page__meta.html %}
      </header>
      {% endunless %}

      <section class="page__content e-content" itemprop="text">
        {% if page.toc %}
        <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
          <nav class="toc">
            <header>
              <h4 class="nav__title">
                <i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default:
                site.data.ui-text[page.lang].toc_label | default: "On this page" }}
              </h4>
            </header>
            {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
          </nav>
        </aside>
        {% endif %} {{ content }} {% if page.link %}
        <div>
          <a href="{{ page.link }}" class="btn btn--primary"
            >{{ site.data.ui-text[page.lang].ext_link_label | default: "Direct Link" }}</a
          >
        </div>
        {% endif %}
      </section>

      <section>
        <div class="blog-notice">
          <div class="fixed-notice__column">
            {% if page.lang=="es-ES" %}
            <h3>🤓 ¿Quieres saber más?</h3>
            <p>
              Suscríbete a nuestra newsletter y podrás descargar un completo esquema para saber qué opciones de visado
              se adaptan a tu caso.
            </p>
            {% else %}
            <h3>🤓 Do you want to know more?</h3>
            <p>
              Join our subscription list and <ins><b>Download for free</b></ins> a complete scheme that will guide you
              in selecting the visa best suited for you.
            </p>
            {% endif %}
          </div>
          <div class="fixed-notice__column">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
              <form
                action='{% if page.lang=="es-ES" %}{{ site.subscriptions.subscribed_ESP }}{% else %}{{ site.subscriptions.waiting_ENG }}{% endif %}'
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_self"
              >
                <div hidden="true"><input type="hidden" name="tags" value="6818053" /></div>
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group input-group">
                    <input
                      type="email"
                      value=""
                      name="EMAIL"
                      class="required email form-control"
                      id="mce-EMAIL"
                      required
                      placeholder="email@domain.com"
                    />
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    <input
                      type="submit"
                      value='{% if page.lang=="es-ES" %}Unirse →{% else %}Join →{% endif %}'
                      name="subscribe"
                      id="mc-embedded-subscribe"
                      class="button btn"
                    />
                  </div>
                  <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                    <div class="content__gdpr">
                      <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                        <label class="checkbox subfield" for="gdpr_66753"
                          ><input
                            type="checkbox"
                            id="gdpr_66753"
                            name="gdpr[66753]"
                            value="Y"
                            class="av-checkbox"
                            required
                          /><span
                            >I agree to receive advertising emails<span class="d-none">
                              being able to cancel the subscription at any time</span
                            ><a target="_blank" class="color-white" href="https://www.brevo.com/legal/termsofuse/">
                              terms of use.</a
                            ></span
                          >
                        </label>
                      </fieldset>
                    </div>
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none"></div>
                    <div class="response" id="mce-success-response" style="display: none"></div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px" aria-hidden="true">
                    <input type="text" name="b_93c113af725dcda60bf8d1639_662ffeb9d8" tabindex="-1" value="" />
                  </div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[page.lang].meta_label %}
        <h4 class="page__meta-title">{{ site.data.ui-text[page.lang].meta_label }}</h4>
        {% endif %} {% include page__taxonomy.html %} {% include page__date.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %} {% include post_pagination.html %}
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %} {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %} {% assign sitepostslang =
  site.posts | where: "lang", page.lang %} {% assign min = 0 %} {% assign max = 6 %} {% assign diff = max | minus: min
  %} {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %} {% for i in (1..randomNumber) %} {%
  assign sitepostslang = sitepostslang | shift %} {% endfor %} {% if page.id and page.related and sitepostslang.size > 0
  %}
  <div class="page__related">
    <h2 class="page__related-title">
      {{ site.data.ui-text[page.lang].related_label | default: "You May Also Enjoy" }}
    </h2>
    <div class="grid__wrapper">
      {% for post in sitepostslang limit:4 %} {% unless page.url==post.url %} {% include archive-single.html type="grid"
      %} {% endunless %} {% endfor %}
    </div>
  </div>
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %} {% elsif page.id
  and page.related %}
  <div class="page__related">
    <h2 class="page__related-title">
      {{ site.data.ui-text[page.lang].related_label | default: "You May Also Enjoy" }}
    </h2>
    <div class="grid__wrapper">
      {% for post in site.posts limit:4 %} {% if post.id == page.id %} {% continue %} {% endif %} {% include
      archive-single.html type="grid" %} {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
